body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f3f6fb;
    margin: 0;
    line-height: 1.6;
}

header {
    background: #002b5c;
    color: white;
    padding: 2rem;
    text-align: center;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 2rem;
}

h2 {
    color: #003f87;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #ddd;
    margin-top: 2rem;
    font-size: .9rem;
}

